# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# ========================
# Docker / runtime
# ========================
*.log
*.pid

# ========================
# InfluxDB (IMPORTANT)
# ========================
cloud/influxdb/data/
cloud/influxdb/config/
**/*.wal
**/*.tsm

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# Mosquitto runtime data
cloud/mosquitto/data/

*.bak

# local env
**/.env

# temp patch scripts / backups
**/tmp_*.py
**/patch_*.py
**/*.bak*
**/*.before*
**/*.pre*
**/*.backup*
**/*.bak

# local scratch json
**/tmp_*.json
