SITE_ID=PV_001
MODBUS_HOST=192.168.1.10
MODBUS_PORT=502
MQTT_HOST=host.docker.internal
MQTT_PORT=8883
MQTT_USERNAME=edge_pv_001
MQTT_PASSWORD=CHANGE_ME
MQTT_TLS_CA=/app/certs/ca.crt
MQTT_TLS_INSECURE=false
MQTT_TOPIC_BASE=pv
PUBLISH_INTERVAL_S=5
