[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[dn]
C  = IT
O  = CCI
CN = mosquitto

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = mosquitto
IP.1  = 100.73.160.84
